body .ss-layer .layui-layer-title {
  border-bottom: 1px solid #eee;
  background-color: #158bc8;
  color: #ffffff;
  font-family: Arial, "微軟正黑體", "微軟雅黑體";
  font-weight: normal;
  font-size: 13px;
}

body .ss-layer .layui-layer-btn {
  font-family: Arial,"微軟正黑體", "微軟雅黑體";
  font-weight: normal;
  font-size: 13px;
  border-top: 1px solid #E9E7E7;
  border-radius: 4px;
  padding: 15px;
  pointer-events: auto;
  user-select: none;
  -webkit-user-select: none;
}

body .ss-layer .layui-layer-btn a {
  margin: unset;
  height: 26px;
  background: #f0efef;
  border-color: #8c8c8c;
  line-height: 28px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

body .ss-layer .layui-layer-btn a:hover {
  opacity: 0.9;
  text-decoration: none;
}

body .ss-layer .layui-layer-btn a:active {
  opacity: 0.8;
}

body .ss-layer .layui-layer-btn .layui-layer-btn0 {
  margin-right: 5px;
  background: #158bc8;
  border: 1px solid transparent;
  color: #fff;
}

.layer-dialog-body {
  padding: 5px 25px;
  font-family: Arial, "微軟正黑體", "微軟雅黑體";
  font-size: 13px;
  line-height: 1.42857143;
}
