<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/Head::head(pref=*{pref}?:'0')" th:with="title=#{system.smartshare.business.title}"></head>
  <body>
    <div id="wrap">
      <a id="signinBtn" class="sign-in_btn" th:text="#{init.label.sign_in}"></a>
    </div>
    <footer id="footer" th:include="layout/Footer::footer"></footer>
    <script th:inline="javascript">
      var signinUrl = contextPath + "init/system/sign-in?data=" + Math.random();
      $(function () {
        $("#signinBtn").click(function () {
          console.log("signinUrl : " + signinUrl);
          layer.alert("test");
        });
        $("#signinBtn").click();
      })
    </script>
  </body>
</html>
