<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--/*@thymesVar id="title" type="title"*/-->
    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/paradm-jslib/1.0.0/validator/css/bootstrapValidator.min.css}"/>
    <!--/*@thymesVar id="pref" type="pref"*/-->
    <link rel="stylesheet" th:href="@{'/theme/pref' + ${pref} + '/css/framework.css'}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/popper.js}" type="module"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/paradm-jslib/1.0.0/validator/js/bootstrapValidator.min.js}"></script>
    <script th:src="@{/webjars/paradm-jslib/1.0.0/layer/layer.min.js}"></script>
    <script th:inline="javascript">
      var contextPath = /*[[@{/}]]*/;
      var globalMessage = {
        deleteConfirm: [[#{common.message.confirm_delete}]],
        logoutConfirm: [[#{common.message.confirm_logout}]],
        contactAdmin: [[#{common.message.contact_admin}]],
        kaptchIsInvalid: [[#{errors.captcha.dose_not_match}]]
      };
      var globalTitle = {
        deleteTitle: [[#{common.title.delete_warning}]],
        logoutTitle: [[#{common.label.logout}]]
      };
      var globalBtn = {
        okBtn: [[#{common.label.ok}]],
        cancelBtn: [[#{common.label.cancel}]],
        deleteBtn: [[#{common.label.delete}]],
        closeBtn: [[#{common.label.close}]],
        saveBtn: [[#{common.label.save}]],
        createBtn: [[#{common.label.create}]],
        uploadBtn: [[#{common.label.upload}]],
        searchBtn: [[#{common.label.search}]],
        addBtn: [[#{common.label.add}]],
        backBtn: [[#{common.label.back}]],
        nextBtn: [[#{common.label.next}]],
        startBtn: [[#{common.label.start}]],
        submitBtn: [[#{common.label.submit}]],
        browseBtn: [[#{common.label.browse}]],
        finishBtn: [[#{common.label.finish}]],
        postBtn: [[#{common.label.post}]],
        replyBtn: [[#{common.label.reply}]],
      };
    </script>
    <script th:src="@{/js/sse/common/framework.js}"></script>
    <script th:src="@{/js/sse/common/paradm-dialog.js}"></script>
  </head>
</html>
