body .ss-layer .layui-layer-title {
  background: #c00;
  color: #fff;
  border: none;
}

body .ss-layer .layui-layer-btn {
  border-top: 1px solid #E9E7E7
}

body .ss-layer .layui-layer-btn a {
  background: #333;
}
